<body class="home">
  <div class="page-wrap">
    <div class="main-section"
      style="background:#000000 url('assets/img/Banner.jpg') no-repeat scroll top center / cover">
      <div class="decor"></div>
      <header class="header">


        <!-- ///mobile menu nav bar// -->

        <!---end-->
        <div class="t-panel">
          <a href="#" class="logo">
            <img src="assets\img\logo.png" alt="" />
          </a>
          <!---mobile-->
          <div class="mobileview">
            <label for="a" class="mobiletoggle">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </label>
            <input type="checkbox" id="a" />
            <ul class="mobilemenu">
              <li> <a href="javascript:void(0)" (click)="
        element.scrollIntoView({
          behavior: 'smooth',
          block: 'center'
        })
      ">Deposit</a></li>
              <li> <a href="https://polygonscan.com/address/0xbA6a65dD28816D5f22aC5B9c1c1fc563422108cF" target="_blank"
                >Contract</a></li>

              <li><a href="#" target="_blank">Telegram</a></li>

            </ul>
          </div>
          <!---end-->

          <nav class="main-nav">

            <div class="menu-wrap">
              <ul class="menu">
                <li>
                  <a href="javascript:void(0)" (click)="
                        element.scrollIntoView({
                          behavior: 'smooth',
                          block: 'center'
                        })
                      ">Deposit</a>
                </li>
                <li>
                  <a href="https://polygonscan.com/address/0xbA6a65dD28816D5f22aC5B9c1c1fc563422108cF" target="_blank"
                    style="margin-left: 0.5rem">Contract</a>
                </li>
                <li>
                  <a href="#" target="_blank">Telegram</a>
                </li>
              </ul>
            </div>
            <!-- <div class="btn-wrap">
                              <a data-modal="" onclick="connect()" id="btnc" class="" data-src="#stat">
                                  <span style="font-size: 1.2rem; display: none;" class="mt-2" id="connect">Connect</span>
                                  <span style="font-size:1.2rem" class="mt-2" id="dashboard">Dashboard</span>
                              </a>
  
                          </div> -->
          </nav>
          <div class="hstats">
            
            <div class="profit" *ngIf="!isConnected">
              <button class="btn btn-q btn-block h4" (click)="walletConnect()">
                Connect
              </button>

            </div>
            <div class="profit" *ngIf="isConnected">
              <button class="btn btn-q btn-block h4">
                {{ account?.substring(0, 4) }}...{{
                  account?.substring(38, 42)
                  }}
              </button>
            </div>

          </div>
        </div>
        <!-- <div class="lang">
                        <span class="lang-title">Select language</span>
                        <ul>
                            <li><a href="#"><span class="lang-icon us"></span></a>
                            </li>
                        </ul>
                    </div> -->


      </header>
      <div class="wrapper clearfix" style="display: flex;padding-top:60px;">

        <div class="main-content .d-block">
          <a href="#" class="logo">
            <!-- <img src="assets/img/A_letter_logo-removebg-preview3.png" alt=""> -->
          </a>
          <h1>Matic Bank Easy yield Smart Contract</h1>

          <p>
            Stable & Profitable Yield Farming Dapp With <br> Automated Users
            Insurance?
          </p>
        </div>


        <div class="block">
          <div class="calc-top">
            <div class="calc-input">
              <div class="box">
                <h2>Total Staked Volume</h2>
                <div class="row">
                  <!-- <h3>
                    {{ getProjectInfo?.[1]/1e18 | number: "0.4-4" }}
                    <span>Matic</span><br />
                   
                  </h3> -->
                  <h3>
                      {{starting_day}} D : {{hrs_day}} H : {{min_day}} M : {{sec_day}} S
                    </h3>
                </div>
              </div>
              <div class="box">
                <h2>Insurance Pool?</h2>
                <div class="row">
                  <h3>
                    {{ getProjectInfo?.o_ensBalance/ 1e18 | number: "0.4-4" }}
                    <span>Matic</span><br />
                  </h3>
                </div>
              </div>
              <div class="box">
                <h2>Total Claimed Rewards</h2>
                <div class="row">
                  <h3>
                    {{ getProjectInfo?.[3]/1e18 | number: "0.4-4" }}
                    <span>Matic</span><br />
                    
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="daily-sec">
      <div class="wrapper-clearfix">
        <div class="about-info">
          <div class="daily" STYLE="BACKGROUND-COLOR:#0b0f2d">
            <div class="daily-num js-contract-rate">
              <h3>
                5 <br />
                Levels
              </h3>
            </div>
            <div class="daily-content">
              <div class="daily-capt">
                <h4>From 12% up to 20% Daily ROI 5 Levels of Referral Rewards</h4>
              </div>
              <div class="daily-val" data-num="0" style="display: none">0</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about">
      <div class="wrapper clearfix">

        <div class="about-content">
          <div class="about-list">
            <div class="about-row">
              <div class="about-item">
                <img src="assets\img\fund.png" alt="Investor">
                <p>Flexible architecture will be profitable for any investor: just
                  choose your plan and Claim the profits!</p>

              </div>
              <div class="about-item">
                <img src="assets\img\book.png" alt="project">
                <p>Generosity is balanced by two simple rules: max 6 Claims per day,
                  max 5 Matic Bank at once</p>
              </div>
            </div>
            <div class="about-row">

              <div class="about-item">
                <img src="assets\img\deposit.png" alt="Deposit">
                <p>Earn when people invited by you make deposits. You also benefit
                  from their Referrals!</p>

              </div>
              <div class="about-item">
                <img src="assets\img\question.png" alt="Question">
                <p>Feel free to ask any question in our group any time, we will be
                  glad to help you!</p>
              </div>
            </div>
            <div class="about-row">
              <div class="about-item">
                <img src="assets\img\project.png" alt="project">
                <p>A special standalone contract guards the Project against balance
                  draining and keeps it alive</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="conditions" id="investment" #element>
      <div class="wrapper">
        <h2>
          <strong>Stake Matic Bank</strong>
        </h2>

        <div class="cond clearfix">

          <div class="cond-content">
            <div class="pref-list">
              <div class="pref-item">
                <div class="sub-advantages-wrap calculate-profit">
                  <div class="sub-advantages">
                    <div class="sub-advantages__wrap text-white">
                      <div class="pref-capt">
                        <span>Deposit period(days):</span>
                      </div>

                      <ngx-slider (userChange)="changeSlider()" class="mb-5" [(value)]="value" [options]="options">
                      </ngx-slider>
                      <form action="#" class="deposit-form">
                        <div class="deposit-form__wrap">
                          <div class="deposit-form__field">
                            <span class="h3 text-white">Deposit Account</span>
                            <div class="row">
                              <div class="w-100">
                                <div class="col in">
                                  <input #amount type="number" class="enter_amt number-input__input" value="0.0"
                                    (keyup)="setValue($event)" />
                                </div>
                                <div class="col h5" style="color: #fff; margin-top: -12px">
                                  Minimum: 0.1<span>Matic</span>
                                </div>
                              </div>
                              <div class="stats-item btn-item">
                                <a (click)="makeNewDeposit(amount.value)" href="javascript:void(0)"
                                  class="btn btn-block h5" style="padding: 1.2rem">STAKE</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <!-- <div class="pref-capt">

                                    <div class="row">
                                        <div class="col">Daily ROI: {{ holdBonus | number:'0.2' }}%</div>
                                        <div class="col pad">Total Profit: {{ totalprofit | number:'0.2' }}%
                                        </div>
                                        <div class="col">In 18 days you will earn:
                                            <span>{{ profit | number:'0.4' }} BNB</span>
                                        </div>
                                    </div>

                                </div> -->
              </div>
            </div>
          </div>

          <div class="cond-main">
            <div class="cond-stat">
              <strong class="js-contract-rate">{{ holdBonus | number: "0.2" }}%</strong>
              <span>Daily ROI</span>
            </div>
            <div class="cond-stat" style="border-right: 2px dashed #fff;border-left: 2px dashed #fff;">
              <strong class="js-contract-rate">{{ totalprofit | number: "0.2" }}%</strong>

              <span>Total Profit:</span>
            </div>
            <div class="cond-stat">
              <strong class="js-contract-rate">{{ profit | number: "0.4" }}<br/> Matic</strong>
              <span>In {{ value }} days you will earn:</span>
            </div>
          </div>

        </div>
      </div>
    </section>
    <section class="statsss">
      <div class="wrapper wrapper-pt3 clearfix">
        <h2><strong>Your Account</strong> </h2>
        <div class="block">
          <div class="stats" style="margin: 0">

            <div class="stats-row " style="background-color: #0b0f2d;">

              <div class="stats-item">
                <div class="stats-label">
                  
                  <span>{{ userBalance / 1e18 | number: "0.4-4" }}
                    <span class="bnb">Matic</span></span>
                </div>
                <span>Wallet Balance</span>


              </div>

              <div class="stats-item flex-xs-column">
                <div>
                  <div class="stats-label">
                    {{
                    this.getUserInfo?.o_userInfo.totalInvested / 1e18
                    | number: "0.4-4"
                    }}
                    <br/>
                    <span class="bnb">Matic</span>
                  </div>
                  Total Staked
                </div>
                
              </div>
            </div>


            <div class="stats-row">
              <div class="stats-item">
                <div class="stats-label">
                  <span class="js-contract-rateNP">{{
                    getUserInfo?.o_planInfo.mActive
                    }}</span>
                  <span class="cur"> Plan</span>
                </div>
                <span>Active Plans</span>
              </div>
              <div class="stats-item flex-xs-column">
                <div>
                  <div class="stats-label">
                   
                    {{
                    this.getUserInfo?.o_userInfo.totalClaimed / 1e18
                    | number: "0.4-4"
                    }}
                    <br/>
                    <span class="bnb">Matic</span>
                  </div>
                  Total Rewards
                </div>
                <!-- <div>
                <a
                  (click)="withdrawAmount()"
                  href="javascript:void(0)"
                  class="btn btn-2 btn-block h5"
                  >Claim</a
                >
              </div> -->
              </div>
            </div>


            <div class="stats-row">
              <div class="stats-item">
                <div class="stats-label">
                  <span class="js-contract-rateNP">{{
                    getUserInfo?.o_planInfo.rActive
                    }}</span>
                  <span class="cur"> Plan</span>
                </div>
                <span> Reinvest Active plans</span>

              </div>
              <div class="stats-item flex-xs-column">
                <div>
                  <div class="stats-label">
                  
                    {{
                    this.getUserInfo?.o_userInfo.claimable / 1e18
                    | number: "0.4-4"
                    }}
                    <span class="bnb">Matic</span>
                  </div>
                  Matic To Claim
                </div>
                <!-- <div>
                <a
                  (click)="history()"
                  href="javascript:void(0)"
                  class="btn btn-2 btn-block h5"
                  >History</a
                >
              </div> -->
              </div>
              <!-- <div class="stats-item btn-item">
              <a
                data-modal=""
                data-src="#stat"
                href="#"
                class="btn btn-2 btn-block"
                >Get Started Now</a
              >
            </div> -->
            </div>


            <div class="stats-row">
              <div class="stats-item">
                <div class="stats-label">
                  <span class="js-contract-rateNP">{{
                    getUserInfo?.o_userInfo.totalClaimed / 1e18 | number: "0.4-4"
                    }}</span>
                </div>
                <span>Total Withdrawn</span>
              </div>
              <div class="stats-item">
                <a (click)="withdrawAmount()" href="javascript:void(0)" class="btn btn-2 btn-block h5">Claim</a>
              </div>
            </div>

            <div class="stats-row">
              <div class="w-100 table-responsive" *ngIf="depositHistory">
                <table class="table-striped">
                  <thead>
                    <tr>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Days</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let getUserDepositHistory of o_deposits; index as i">
                      <td>
                        {{
                        getUserDepositHistory.timeStart * 1000
                        | date: "yyyy-MM-dd H:m:s"
                        }}
                      </td>
                      <td>
                        {{
                        getUserDepositHistory.timeEnd * 1000
                        | date: "yyyy-MM-dd H:m:s"
                        }}
                      </td>
                      <td>{{ getUserDepositHistory.planIdx * 1 + 6 }}</td>
                      <td>
                        {{
                        getUserDepositHistory.amount / 1e18 | number: "0.4-4"
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>
        </div>
      </div>
    </section>
    <section class="why" id="about">
      <div class="wrapper">
        <h2><strong>Referral Program</strong></h2>
        <p style="text-align:center;">Stake atleast once to receive referral rewards!</p>
        <div class="why-columns">
          <div class="column">
            <div class="why-content">
              <div class="box">
                <div class="refer">
                  <img src="assets/img/ref3.png" class="mr-2" />
                  <h2>level 1</h2><span>10% {{ getUserInfo?.o_refInfo.count[0]
                    }}<small class="text-white"> Referrals</small></span>
                </div>
                <div class="refer">
                  <img src="assets/img/ref3.png" class="mr-2" />
                  <h2>level 2</h2><span>3% {{ getUserInfo?.o_refInfo.count[1]
                    }}<small class="text-white"> Referrals</small></span>
                </div>
                <div class="refer">
                  <img src="assets/img/ref3.png" class="mr-2" />
                  <h2>level 3</h2><span>2% {{ getUserInfo?.o_refInfo.count[2]
                    }}<small class="text-white"> Referrals</small></span>
                </div>
                <div class="refer">
                  <img src="assets/img/ref3.png" class="mr-2" />
                  <h2>level 4</h2><span>1% {{ getUserInfo?.o_refInfo.count[3]
                    }}<small class="text-white"> Referrals</small></span>
                </div>
                <div class="refer">
                  <img src="assets/img/ref3.png" class="mr-2" />
                  <h2>level 5</h2><span>0.5% {{ getUserInfo?.o_refInfo.count[4]
                    }}<small class="text-white"> Referrals</small></span>
                </div>
              </div>
            </div>
          </div>
          <div class="column diagram-column d-flex">
            <div class="block">
              <div class="cond-content stats" style="margin: 0">
                <div class="stats-row">
                  <div class="stats-item flex-xs-column" style="padding-left: 0">
                    <div>
                      <div class="stats-label">
                       <span class="cur"></span>
                        {{
                        getUserInfo?.o_refInfo.totalEarned / 1e18
                        | number: "0.4-4"
                        }}
                        <span class="bnb">Matic</span>
                      </div>
                      Total Rewards
                    </div>
                  </div>
                </div>
                <div class="row" style="background: transparent; border: none; padding-top: 0">
                  <div class="w-100">
                    <div class="col in">
                      <input type="text" #reflink value="{{ base_url }}/ref/{{ account }}"
                        class="enter_amt number-input__input" readonly />
                    </div>
                    <div class="col" style="color: #d3d3d3; margin-top: -12px;margin-left:20px;">
                      Note: Reflink will not function until you make your first
                      investment
                    </div>
                  </div>
                  <div class="stats-item btn-item">
                    <a href="javascript:void(0)" (click)="copyInputMessage(reflink)" class="btn btn-block h5"
                      style="padding: 1.2rem">Copy</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="column diagram-column">
            <table class="legend">
              <tbody>
                <tr>
                  <td>Main Contract Balance, <br />Liquidity Farming</td>
                  <td style="color: #f0ba4a; font-size: 18px">85%</td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
      </div>
    </section>

    <!-- <section class="despositss">
      <div class="wrapper">
        <h2><strong>User Deposits</strong></h2>
        <div class="block" style="width:100% !important">
          <div class="table-responsive">
            <table class="table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Invested</th>
                  <th>Days</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let depositHistory of display; index as i">
                  <td>{{ depositHistory.timestamp }} ago</td>
                  <td>{{ depositHistory.duration }}</td>
                  <td>{{ depositHistory.amount | number: "0.4-4" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section> -->


    <section class="despositss">
      <div class="wrapper">
        <h2><strong>Latest Deposits</strong></h2>
        <div class="block" style="width:100% !important">
          <div class="table-responsive">
            <table class="table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Invested</th>
                  <th>Days</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let depositHistory of display; index as i">
                  <td>{{ depositHistory.timestamp }} ago</td>
                  <td>{{ depositHistory.duration }}</td>
                  <td>{{ depositHistory.amount | number: "0.4-4" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer" id="contacts">

    <div class="footer-bottom">
      <div class="wrapper">
        <div class="fb-content">
          <!-- <span class="fb-title">Reserve Links</span> -->
          <div style="MARGIN:0 AUTO"> 
            <!-- <a href="javascript:void(0)" class="btn">{{ base_url }}</a> -->
            <!-- <a href="#" target="_blank" class="btn ml-3" style="margin-left: 0.5rem"></a> -->
            <ul class="sociallink">
              <!-- <li> <a href="#" target="_blank" ><img src="assets\img\facebook.svg"></a></li>
              <li><a href="#" target="_blank" ><img src="assets\img\instagram.svg"></a></li>
              <li><a href="#" target="_blank" ><img src="assets\img\linkedin.svg"></a></li>
              <li><a href="#" target="_blank" ><img src="assets\img\telegram.svg"></a></li> -->
              <li><a href="https://www.youtube.com/channel/UC7kpIqqRRNlgpFIGFDJXx_g" target="_blank" ><img src="assets\img\youtube.svg"></a></li>
              <li><a href="https://twitter.com/MaticBank" target="_blank" ><img src="assets\img\twitter.svg"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>